.bg-home-3 {
  position: relative;
}

.bg-home-3::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4); /* うっすら暗く */
  z-index: -1;
}

.bg-home-3 {
  background-image: url('/img/background2.png');
  background-size: cover;
  background-position: center;
}

.bg-home-3 .VPHomeHero .name,
.bg-home-3 .VPHomeHero .name .clip {
  color: #000000;
  -webkit-text-fill-color: #000000; /* これが重要 */
}

.bg-home-3 .VPHomeHero .text,
.bg-home-3 .VPHomeHero .text .clip {
  color: #023a1c;
  -webkit-text-fill-color: #023a1c; /* これが重要 */
}

.bg-home-3 .VPHomeHero .tagline,
.bg-home-3 .VPHomeHero .tagline .clip {
  color: #000000;
  -webkit-text-fill-color: #000000; /* これが重要 */
}


